.imgContainer {
    transform: translateX(-50%);
    object-position: center 20%;
    object-fit: cover;
    width: 100% !important;
    height: 95vh !important;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 95%);

    opacity: .4;
    filter: blur(10px);
    z-index: 0;
    bottom: 16% !important;
    left: 50% !important;
}

.preview {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {

    min-height: 100vh;
    width: 100%;

}

.containerCor {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;

    z-index: 3;
}

.main {
    max-width: 70vw;
    width: 70vw;
    margin-left: 15vw;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 95%)
}

.main img {
    width: 100%;
}

.main2 {
    position: relative;
    z-index: 10;

    max-width: 70vw;
    width: 70vw;
    margin-top: -230px;
    margin-left: 15vw;

}

.card {

    height: 100%;
    width: 100%;

}

.card h1 {
    text-align: center;
    font-size: 7.7vw;
    color: white;
    font-weight: bold;
    position: relative;
    line-height: 150px;
    word-break: break-all;
    background: transparent;
    text-transform: uppercase;
    animation-name: swipe;
    animation-duration: 1500ms;
    animation-delay: 500ms;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;

}


.card h2 {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    text-align: center;
    background: white;

    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 2vw;
}

@keyframes swipe {
    0% {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);

    }

    75% {
        clip-path: polygon(0 0, 60% 0, 60% 100%, 0% 100%);

    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}



.cardDetail {
    padding: 50px;

    border: .1px solid rgba(255, 255, 255, .26);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardRoles {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.heroDetail {
    flex: 2;
    color: white
}

.cardRole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardRole span, .cardDiff span {

    font-size: 12px;
}

.cardDiff {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cardDifficulty {
    transform: skewX(-25deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-left: 10px;
}

.cardDiffParent {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardDifficulty div {
    width: 20px;
    height: 100%;
    background: rgba(208, 168, 92, .15);

}

.cardDifficulty div.cardDiffFull {
    background: rgba(208, 168, 92, 1);

}

.cardDifficulty div:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);

}

.cardRole span:last-child, .cardDiff span:last-child {
    text-transform: uppercase;
    color: rgb(208, 168, 92);
    font-size: 14px;

}

.cardDiff div+span {
    margin-top: 10px;
}

.cardRole img+span {
    margin-top: 10px;

}

.cardRole img {
    width: 40px;
    height: 40px;
}

.championAbility {
    margin-top: 200px;
    width: 90vw;

    padding-left: 15vw;
    position: relative;
}

.championAbility::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: calc(440px / 1.5);
    left: 0%;
    background: rgb(57, 64, 72);
    z-index: 0;
}

.championAbility h1 {
    margin-bottom: 50px;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    position: relative;

}

.abilitiesArea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.abilityPreview {
    position: relative;
    z-index: 2;
    flex: 1.2;
    height: 440px;
    background: gray;
}

.ability img {
    width: 60px;
    height: 60px;
    transition: transform .5s;
    margin-bottom: 30px;

}

.ability {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

}

.abilitiesList {
    display: flex;
    justify-content: flex-start;

    align-items: flex-start;
}

.abilityBegin {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.activeAbility {
    position: relative;

}

.activeAbility span {
    background: rgb(208, 168, 92);
    transform: scale(1.5);
    border: 2px solid transparent;
    outline: 2px solid rgb(208, 168, 92);
    position: relative;
    z-index: 1;
}

.activeAbility::before {
    width: .5px;
    opacity: .9;
    height: 20%;
    z-index: 0;
    content: '';
    position: absolute;
    bottom: 22%;
    left: 50%;
    background: rgb(208, 168, 92);
    transform: translateX(-50%);
    animation: show .4s;
}

.abilityEnd {
    margin-top: auto;
}

@keyframes show {
    from {
        height: 0%;
    }

    to {
        height: 20%;
    }
}

.activeAbility img {
    transform: translateY(-10px);

}

.abilityBegin:hover img {
    transition: transform .5s;
    transform: translateY(-10px);
}

.abilityBegin:hover span {
    background: rgb(208, 168, 92);
    transition: background .5s;

}

.ability:not(:last-child) {
    margin-right: 40px;
}

.abilities {
    margin-top: 50px;
    flex: 1;
    height: calc(440px / 1.2);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.abilitiesDetail {
    flex: 100%;
    display: flex;
    padding: 25px;
    color: white;
    margin-top: 10px;
}

.abilitiesDetailExp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.abilitiesDetail div {
    display: none;
}

.abilitiesDetailExp small {
    text-transform: uppercase;
    font-size: .7vw;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0.15em;
    color: rgb(208, 168, 92);
}

.activePreview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abilityPreviewDiv {
    display: none;
    width: 100%;
    height: 100%;
}

.activePreview {
    display: block;
    animation: fadeIn .5s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.abilitiesDetailExp h2 {
    margin-top: 0.375rem;
    font-size: .9vw;
    line-height: 1.11111;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.abilitiesDetailExp p {
    margin-top: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.4;
    letter-spacing: 0.05em;
    max-width: 70%;
}

.abilitiesDetail div.activeDetail {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.abilityCircle {
    position: relative;
    z-index: 5;
    transition: background .5s;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(57, 64, 72);
}

.championSkins {
    margin-top: 200px;
    width: 100%;

    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.imagePare img {

    -webkit-mask-image: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);

}

.skins {
    position: relative;
    z-index: 2;
    width: 75vw;
    margin-left: 15vw;
    /* background: red; */
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.imgBackDrop {
    bottom: 0% !important;
    z-index: 8;
    opacity: .7;
    object-position: center;
    object-fit: cover;
    filter: blur(5px);
    z-index: 0;
    transition: all 1s;
    animation: fade 1s ease-in-out;
}

.skins h1 {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    text-align: center;
    background: white;
    margin-top: -65px;
    color: black;
    font-weight: bolder;
    word-spacing: 5px;
    font-size: 2vw;

}

.backdrop {
    position: absolute;
    top: 0%;
    left: 0%;
    background: linear-gradient(to top, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1024px) {
    .container {
        padding: 40px 0px 0px 0px;
    }

    .championSkins {
        margin-top: 0px;
        height: 60vh
    }

    .skins {
        width: 100%;
        margin-left: 0px;
    }

    .main {
        max-width: 93vw;
        width: 100%;
        margin-left: 3vw;
        padding-top: 3px;
    }

    .main2 {
        max-width: 93vw;
        width: 100%;
        margin-left: 3vw;
    }

    .cardDetail {
        flex-direction: column;
        padding: 20px;
    }

    .card h2 {
        font-size: 2.8vw;
    }

    .cardRoles {
        margin-top: 10px;
    }

    .heroDetail {
        text-align: center;
        margin-top: 20px;
    }

    .card h1 {
        margin-top: 200px;
        line-height: unset;
        font-size: 10vw;
    }

    .championAbility {
        margin-top: 50px;
        width: 96vw;
        padding-left: 0vw;
        padding: 0px 3vw
    }

    .championAbility h1 {
        font-size: 6vw;
        text-align: center;
        margin-bottom: 0px;
    }

    .abilitiesArea {
        flex-direction: column;
    }
    .ability img {
    width:50px;
        height:50px;
    }
    .abilitiesDetailExp small {
        font-size: 2.3vw;
    }
    
    .abilitiesDetailExp h2 {
        font-size: 2.8vw;
    }

    .abilitiesDetailExp p {
        max-width: 100%;
    }

    .championAbility::before {
        /* top: calc(440px / 1.84) */
        display: none;
    }

    .ability {
        flex: 1;
    }

    .abilitiesDetail {
        padding: 25px 0px 10px 0px
    }
}
