@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
}

.swiper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  perspective: 1000px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s;
  z-index: 10;
  position: relative;
}

.swiper-slide div {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
  left: 50%;
  z-index: 15;
  font-size: 1.7vw;
  transform: translateX(-50%);
  color: white;
}

.swiper-slide-next, .swiper-slide-prev {
  opacity: .4;
  transition: all 1s;
  transform: scale(.8);
}

@media screen and (max-width:1024px) {
  .swiper-slide div {
    bottom: 20%;
    font-size: 4vw;
  }

  .swiper-slide-next, .swiper-slide-prev {
    transition: all 0s;
  }

  .swiper-slide {
    transition: all 0s;
  }
}